<h1>Articles#new</h1>

<%# TODO: chage link %>

<p><%= link_to 'index', articles_path %></p>

<%= render 'form', article: @article %>

<!--<form action='/articles' method='POST'>-->
<!--    <input type='hidden' value='<%= form_authenticity_token%>' name='authenticity_token'></input>-->
<!--    <input type='text' name='article[title]'></input>-->
<!--    <input type='text' name='article[content]'></input>-->
<!--    <input type='submit'></input>-->
<!--</form>-->